POSTGRES_USER=academic
POSTGRES_PASSWORD=academic_password
POSTGRES_DB=academic

DATABASE_URL=postgresql://academic:academic_password@postgresql:5432/academic

REDIS_URL=redis://redis:6379
BACKEND_URL=http://backend:4000
#generate with `openssl rand -hex 32`. DON'T commit it!
SESSION_SECRET=

GITHUB_CLIENT_ID=...
GITHUB_CLIENT_SECRET=...
GITHUB_CALLBACK_URL=https://localhost:8444/api/auth/oauth/github/callback

BACKUP_INTERVAL=3600
BACKUP_KEEP=7
