POSTGRES_USER=academic
POSTGRES_PASSWORD=academic_password
POSTGRES_DB=academic

DATABASE_URL=postgresql://academic:academic_password@postgresql:5432/academic

REDIS_URL=redis://redis:6379
BACKEND_URL=http://backend:4000
#à générer avec la commande "openssl rand -hex 32" dans un terminal. Ne pas commit !!!
SESSION_SECRET=